/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}

#map {
    height: 200px;
    width: 100%;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: 'roboto';
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
    color: #898989;
    font-size: 15px;
    line-height: 21px;
    font-weight: lighter;
}

b,
strong {
    font-weight: bolder;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}



img {
    border: 0;
    width: 100%;
    height: auto;
}

.small {
    width: 75%;

}

.xsmall {
    width: 60%;
}

.social {
    width: 16px;
}

.left {
    width: 16px;
    margin-left: 1em;
}

h2 {
    font-family: 'Alegreya', sans-serif;
    color: #304356;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;

}


.bucket-title {
    font-family: 'Alegreya', sans-serif;
    color: #304356;
    font-size: 20px;
    padding: 0;
}

.bucket-title-footer {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 13px;
    padding: 0;

}

.prices {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: #B78E57;
    padding: 0;
    margin: 0;
}

.readtxt {
    margin: 0;
    padding: 1em 0;
    line-height: 21px;
    color: #ACACAC;
    font-size: 14px;
    font-family: 'roboto';
}



/* Promo section */

.logo,
.site-title {
    text-align: center;
}

.logo {
    font-size: 8em;
}

.site-title {
    margin-top: -1em;
    margin-bottom: 3em;
}

/* Splash section */



.splash-content {
    padding: 1.5em;
}

@media screen and (min-width: 600px) {
    .splash-text {
        columns: 2;
        column-gap: 2em;
    }

    .splash-text p {
        padding-top: 0;
    }
}

/* Buckets section */

.buckets {
    padding: 2em 1em 1em;
    background: #F8F8F8;
}

.buckets ul {
    margin: 0;
    padding: 0;

}

.buckets li {
    margin: .5em;
    list-style-type: none;

}

.bucket {
    padding: 1.5em;
}

/* Buckets footer */

.footer {
    padding: 2em 1em 1em;
    background: #304356;
    justify-items: center;


}

.margin {
    margin-top: 110px;
}

. .footer ul {
    margin: 0;
    padding: 0;

}

.footer li {
    margin-bottom: 1em;
    list-style-type: none;
}

.footer {
    padding: .5em;
}

.fed {
    font-weight: bold;
    text-decoration: underline;
}

/* More section */
.more {
    padding: 2em;
}

/* Twins section */

.twin {
    padding: 2em;
    background: #2185C5;
    color: white;
}

.twin:last-of-type {
    background: #FF7F66;
}

/* Colophon section */
.colophon {
    padding: 2em;
    background: #1F272A;
    color: white;
    text-align: center;
    font-family: 'roboto';
    font-size: 13px;
}

.colophon a {
    color: white;
}

.colophon a:hover,
.colophon a:focus {
    border-bottom: 1px solid white;
}



/* Banner */
#shadow {
    background-image: url(img/banner-home-1.jpg)
}

/* menu */
* {
    box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    margin: 0;
    font-size: .5em
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 15px 30px;
    text-transform: uppercase;
    display: block;
    font-family: 'roboto';
    font-weight: lighter;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    color: #B78E57;
    text-align: center;
}


.main-nav a:hover {
    color: #C49F6D;
}

.main-nav a:active {
    font-weight: bolder;


}

.header {
    padding-top: .5em;
    padding-bottom: .5em;

    background-color: #f4f4f4;

}



/* Button */

button {
    padding: .5em;
    background-color: #304356;
    font-family: 'roboto';
    font-size: 15px;
    color: #fff;
    align-items: content;
    text-decoration: none;
}

.button {
    padding: .5em;
    background-color: #304356;
    font-family: 'roboto';
    font-size: 15px;
    color: #fff;
    align-items: content;
    text-decoration: none;
}

.margintop {
    margin-top: 5px;
    position: relative;
}


/*--------------------------------------------------------------
menucard!
--------------------------------------------------------------*/

.retter {
    margin: .5em;
}

.retter h2 {
    font-family: 'Alegreya', sans-serif;
    color: #304356;
    font-size: 20px;
    padding: 0;
}

.data-beskrivelse {
    margin: 0;
    padding: 1em 0;
    line-height: 21px;
    color: #ACACAC;
    font-size: 14px;
    font-family: 'roboto';
}

.data-container article img {
    width: 100%;
}

.data-price {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: #B78E57;
    padding: 0;
    margin: 0;
}

.data-container {
    margin: 0 auto;
    display: grid;


}



.x2 {
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;

}



#modal {
    background-color: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

#modal-content {
    width: 80%;
    height: 50%;
    background-color: rgba(250, 250, 250, 0);
    margin: auto;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

#modal img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;

}

#modal-boks {
    max-width: 100%;
    background: #cccccc;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.close {
    width: 10%;
    height: 5%;
    cursor: pointer;
    margin: 20px 0px;
    background: #cccccc;
}

.centerbtn {
    display: flex;
    justify-content: space-around;

}


/*--------------------------------------------------------------
Use flex to create a three-bucket layout
--------------------------------------------------------------*/


/* =================================
  Media Queries
==================================== */
@media screen and (min-width:404px) {



    .data-container {
        padding-left: 5%;
        padding-right: 5%;
        grid-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }

    .close {
        width: 5%;

    }

    .x2 {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        font-size: 8px;
    }

    .button a {
        text-decoration: none;
        color: white;
        font-size: 9px;

    }


}

@media screen and (min-width:580px) {
    .data-container {
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }

    .centerbtn {
        justify-content: center;
    }

    .x2 {
        margin: .3em;
        padding: auto;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        font-size: 10px;
    }

    .button a {
        text-decoration: none;
        color: white;
        font-size: 11px;

    }

}

#modal img {
    margin-bottom: 10px;
}



@media screen and (min-width:600px) {
    #modal-boks {
        max-width: 475px;

    }

    .x2 {
        margin: .3em;
        padding: auto;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        font-size: 11.5px;
    }


}


@media screen and (min-width: 700px) {
    @supports (display: flex) {

        .buckets ul {
            display: flex;
            justify-content: space-between;
        }

        .buckets li {
            width: 25%;

        }

        .footer ul {
            display: flex;
            justify-content: center;

        }

        .footer li {
            width: 25%;
        }

        .button {
            width: 20%;
            margin: auto;
            text-align: center;
            grid-column: 1/5;

        }

        .button a {
            text-decoration: none;
            color: white;
        }

    }
}

@media screen and (max-width: 700px) {

    .margintop {
        margin-top: 0px;
    }

    * {
        text-align: center;
    }

    .button {
        width: 20%;
        margin: auto;
        text-align: center;
        grid-column: 1/5;

    }

    .button a {
        text-decoration: none;
        color: white;
    }

}

@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .button a {
        text-decoration: none;
        color: white;
        font-size: 14px;

    }


}



@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .x2 {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 4px;
        font-size: 14px;

    }



    .button a {
        text-decoration: none;
        color: white;
        font-size: 15px;

    }

}

@media screen and (min-width:1050px) {
    .x2 {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 4px;
        font-size: 14px;
    }

    .button {
        width: 20%;
        margin: auto;
        text-align: center;
        grid-column: 1/5;

    }

    .button a {
        text-decoration: none;
        color: white;
    }
}






/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
    max-width: 50em;
    margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {

    /* Enable grid for viewports 600px and wider: */
    @media screen and (min-width: 600px) {

        /* Disable fallback max-width center aligned rule: */
        .site {
            max-width: none;
        }

        /* Four-column layout: Two center columns have total width of 50em: */
        .main-area > *,
        .colophon {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
        }

        /* Center items by placing them in the two center columns: */
        .splash-content {
            grid-column: 2/4;
        }


        .buckets ul {
            grid-column: 2/4;
        }

        .footer ul {
            grid-column: 2/4;
            align-items: baseline;
            margin: 2em;


        }

        .button {
            width: 20%;
            margin: auto;
            text-align: center;
            grid-column: 1/5;

        }

        .button a {
            text-decoration: none;
            color: white;
        }

        /* Use automatic grid placement + span to let each item span two columns: */
        .twin,
        .colophon aside {
            grid-column: 2/4;
        }

    }

}
